@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
}

body{
    background-color: #072227;
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    display: inline-block;
    text-align: center;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: #4FBDBA;
  }
  
h3 {
    font-size: 2rem;
    color: #4FBDBA;
    font-family: 'Indie Flower', cursive;
}
  
img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

footer a{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 25px;
}

footer a:hover{
    color: #4FBDBA;
}