@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

*{
    margin:0;
    padding: 0;
}



body{
    background-color: #D4ECDD !important;
    font-family: 'Work Sans', sans-serif;
}

/* .container{
    width: 70%;
    margin: auto;
    text-align: center;
} */

/* .dice{
    display: inline-block;
    text-align: center;
} */

h1 {
    margin: 30px !important;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 #112031;
    font-size: 7em !important;
    color: #112031;
}

@media (min-width: 44px) {  
    h1 {font-size:1.5rem !important;} 
}
@media (min-width: 144px) {  
    h1 {font-size:2.5rem !important;} 
}
@media (min-width: 244px) {  
    h1 {font-size:3rem !important;} 
}
@media (min-width: 344px) {  
    h1 {font-size:3rem !important;} 
}
@media (min-width: 544px) {  
    h1 {font-size:4rem !important;} 
}
@media (min-width: 768px) {  
    h1 {font-size:5rem !important;} 
}
@media (min-width: 992px) { 
    h1 {font-size:6rem !important;} 
}
@media (min-width: 1200px) {  
    h1 {font-size:7rem !important;}     
}
  
h3 {
    font-size: 2rem;
    color: #112031;
    font-family: 'Indie Flower', cursive;
}
  
img {
    width: 80%;
    max-width: 300px;
}

.button{
    border:none;
    border-radius: 10px;
    padding:10px;
    margin: 30px 0;
    background-color: #112031;
    font-size:30px;
    font-family: 'Oooh Baby', cursive;
    color: #D4ECDD;
}

.button:hover{
    box-shadow: 0px 0px 300px 5px #345B63;
    transform:scale(1.1);
    font-weight: 500;
}

footer {
    margin-top: 10px;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    position:relative;
    right:16px;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

footer ul li{
    margin: 0 15px;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}

footer a:hover{
    color: black;
}